<h1>Listing commnents</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commnents.each do |commnent| %>
      <tr>
        <td><%= commnent.post_id %></td>
        <td><%= commnent.body %></td>
        <td><%= link_to 'Show', commnent %></td>
        <td><%= link_to 'Edit', edit_commnent_path(commnent) %></td>
        <td><%= link_to 'Destroy', commnent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commnent', new_commnent_path %>
