<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @commnent.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commnent.body %>
</p>

<%= link_to 'Edit', edit_commnent_path(@commnent) %> |
<%= link_to 'Back', commnents_path %>
